<div class="container">
    <div>
        <h1>Registration numbers</h1>

        {{#if messages}}
        <div class="messages">
            <h6>{{messages.error}}</h6>
            {{/if}}
        </div>


        <div>
            <form action="/" method="POST">
                <input type="text" name="reg" class="" placeholder="enter a registration number">
                <button class="button-primary" type="submit">Add reg number</button> <a href="/reset"><button
                        class="button primary" type="submit">Reset</button></a>
                <br>
                <div class="dropdown">
                    <input type="search" placeholder="Select a town">
                    {{!-- <button class="button primary"><strong>Filter by town</strong></button> --}}
                    <div class="dropdown-content">
                        <a href="#" name="town" class="town" value="">Show all</a>
                        <a href="#" name="town" class="town" value="CY">Bellville</a>
                        <a href="#" name="town" class="town" value="CJ">Paarl</a>
                        <a href="#" name="town" class="town" value="CA">Cape Town</a>
                    </div>
                </div>



                {{!-- <div class="radio">
                    <strong>Filter by town</strong>
                    <div class="radioBbutton">
                        <input type="radio" name="town" class="town" value="">Show all
                        <input type="radio" name="town" class="town" value="CY">Bellville
                        <input type="radio" name="town" class="town" value="CJ">Paarl
                        <input type="radio" name="town" class="town" value="CA">Cape Town

                    </div>


                </div> --}}


            </form>

            <hr>

            <div>
                <ul>
                    {{#each reg}}
                    <li class="regNumber">{{this.reg}}</li>
                    {{/each}}

                </ul>
                <!-- <i>Reg numbers to be added here...</i> -->

            </div>
        </div>
    </div>
</div>