<div class="container">
    <div>
        <h1>Registration numbers</h1>


        <h6 class="messages">{{messages.error}}</h6>
        <h6 class="confirm">{{messages.success}}</h6>


        <div>
            <form action="/reg_numbers" method="POST">
                <input type="text" name="reg" class="" placeholder="enter a registration number">
                <button class="button-primary" type="submit">Add reg number</button>
                <br>
            </form>

            <div>
                <form action="/reset" method="GET">
                    <a href="/reset"><button class="button-primary" type="submit">Reset</button></a>

                </form>
            </div>

            <form action="/reg_numbers" method="GET">

                <div class="radio">

                    <strong>Filter by town</strong>
                    <div class="radioBbutton" name="radioButton">
                        <input type="radio" name="town" class="town" value="all">Show all
                        <input type="radio" name="town" class="town" value="CY">Bellville
                        <input type="radio" name="town" class="town" value="CJ">Paarl
                        <input type="radio" name="town" class="town" value="CA">Cape Town
                        <br>
                        <button class="button-primary" type="submit">Show</button>
                    </div>


                </div>

            </form>

            <hr>

            <div>
                {{#each plates}}
                <li class="regNumber">
                    {{this.registration}}
                </li>
                {{/each}}


                <!-- <i>Reg numbers to be added here...</i> -->

            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function () {
        document.querySelector(".messages").innerHTML = "";
        document.querySelector(".confirm").innerHTML = ""
    }, 2000);
</script>