{{!-- <div class="container">
    <div>
        <h1>Registration numbers</h1>

        {{#if messages}}
        <div class="messages">
            <h6>{{messages.error}}</h6>
            {{/if}}
        </div>


        <div>
            <form action="/" method="POST">
                <input type="text" name="reg" class="" placeholder="enter a registration number">
                <button class="button-primary" type="submit">Add reg number</button> <a href="/reset"><button
                        class="button primary" type="submit">Reset</button></a>
                <br>
            </form>

            <form action="/" method="GET">

                <div class="radio">

                    <strong>Filter by town</strong>
                    <div class="radioBbutton">
                        <input type="radio" name="town" class="town" value="">Show all
                        <input type="radio" name="town" class="town" value="CY">Bellville
                        <input type="radio" name="town" class="town" value="CJ">Paarl
                        <input type="radio" name="town" class="town" value="CA">Cape Town
                        <br>
                        <button class="button-primary" type="submit">Show</button>
                    </div>


                </div>

            </form>

            <hr>

            <div>
                {{#each displayFilter}}
                <li class="regNumber">
                    {{this.registration}}
                </li>
                {{/each}}


                <!-- <i>Reg numbers to be added here...</i> -->

            </div>
        </div>
    </div>
</div> --}}